In [ ]:
##  task 2

In [ ]:
1. ID : User id
2. Segment type : Medium of Usage
3. Segment Description : Name of Universities
4. Answer : Do you use tinder ?
5. Count : Number of Matches
6. Percentage : % of matches (the value ranges from 0 to 1 as it is not
multiplied with 100)
7. It became a relationship : Success of relationship (Target

In [95]:
#  load  the data
import pandas as pd
df=pd.read_csv("E:/subhransu/task2.csv")
df.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0

In [15]:
df.columns

Index(['ID', 'Segment type', 'Segment Description', 'Answer', 'Count',
       'Percentage', 'It became a relationship'],
      dtype='object')

In [16]:
df.shape

(1896, 7)

In [17]:
#  drop  ID  and Segment Description from dataset  
df.drop(columns=['ID','Segment Description'],inplace=True)

In [21]:
df.head()

  Segment type Answer       Count  Percentage  It became a relationship
0          web     No    0.000000    0.000000                         0
1          web     No    0.000000    0.000000                         0
2       gender     No  499.173606    0.225255                         0
3          web     No    0.000000    0.000000                         0
4       gender     No  455.925963    0.211360                         0

In [22]:
#  segment type  and Answer  are   categorical  value
df['Segment type'].value_counts()

gender        488
mobile        483
university    464
web           461
Name: Segment type, dtype: int64

In [23]:
df['Answer'].value_counts()

No                    1571
Yes                    164
I don't use Tinder     161
Name: Answer, dtype: int64

In [24]:
#   convert  the  categorical  data "segment type " and "Answer to numeric"

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Segment type']=le.fit_transform(df['Segment type'])
df['Answer']=le.fit_transform(df['Answer'])

In [27]:
df

      Segment type  Answer        Count  Percentage  It became a relationship
0                3       1     0.000000    0.000000                         0
1                3       1     0.000000    0.000000                         0
2                0       1   499.173606    0.225255                         0
3                3       1     0.000000    0.000000                         0
4                0       1   455.925963    0.211360                         0
...            ...     ...          ...         ...                       ...
1891             3       1     0.000000    0.000000                         0
1892             1       1  1203.190399    0.312360                         0
1893             0       1   806.378820    0.488025                         0
1894             0       1  1149.529381    0.488984                         0
1895             3       1     0.000000    0.000000                         0

[1896 rows x 5 columns]

In [28]:
df.describe()

,Segment type,Answer,Count,Percentage,It became a relationship
count,1896.000000,1896.000000,1896.000000,1896.000000,1896.000000
mean,1.473629,1.001582,446.881267,0.254098,0.350738
std,1.118490,0.414127,494.110578,0.220809,0.477327
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,400.439633,0.257873,0.000000
75%,2.000000,1.000000,845.560798,0.396787,1.000000
max,3.000000,2.000000,1969.000000,1.000000,1.000000

In [29]:
##  Handle missing values
df.isnull().sum()

Segment type                0
Answer                      0
Count                       0
Percentage                  0
It became a relationship    0
dtype: int64

In [ ]:
# data set  does not have  any missing value

In [30]:
#  devide  the data set into 2 parts   input  and output

In [32]:
X=df.drop(columns='It became a relationship')
Y=df ['It became a relationship']

In [33]:
X

      Segment type  Answer        Count  Percentage
0                3       1     0.000000    0.000000
1                3       1     0.000000    0.000000
2                0       1   499.173606    0.225255
3                3       1     0.000000    0.000000
4                0       1   455.925963    0.211360
...            ...     ...          ...         ...
1891             3       1     0.000000    0.000000
1892             1       1  1203.190399    0.312360
1893             0       1   806.378820    0.488025
1894             0       1  1149.529381    0.488984
1895             3       1     0.000000    0.000000

[1896 rows x 4 columns]

In [34]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
1891    0
1892    0
1893    0
1894    0
1895    0
Name: It became a relationship, Length: 1896, dtype: int64

In [36]:
#  split  the  data set into 2 parts one for training and other for testing

In [91]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=40)

In [41]:
X_train.shape

(1516, 4)

In [42]:
X_test.shape

(380, 4)

In [43]:
Y_train.shape

(1516,)

In [44]:
Y_test.shape

(380,)

# Implement  KNN model

In [92]:
# create  KNN model  and train
from sklearn.neighbors  import KNeighborsClassifier
K=KNeighborsClassifier(n_neighbors=7)
#train the model by traing dataset
K.fit(X_train,Y_train)
#test  the model
Y_pred_knn=K.predict(X_test)
#  Find  accuracy  of  KNN
from sklearn.metrics  import accuracy_score
acc_knn=accuracy_score(Y_test,Y_pred_knn)
acc_knn= round(acc_knn*100,2)
print("accuracy score in KNN is",acc_knn,"%")

accuracy score in KNN is 88.16 %

# implemnt  by Logistic Regression

In [93]:
from sklearn.linear_model import LogisticRegression
L=LogisticRegression()
L.fit(X_train,Y_train)
#test  the model
Y_pred_lg=L.predict(X_test)
#  find  accuracy in Logistic regression
from sklearn.metrics  import accuracy_score
acc_lg=accuracy_score(Y_test,Y_pred_lg)
acc_lg=round(acc_lg*100,2)
print("accuracy in logistic regression is",acc_lg,"%")

accuracy in logistic regression is 58.68 %

#  conclusion

In [ ]:
#  in this project  we used  KNN  and  Logistic Regression
Accuracy of KNN  is  88.16%
accuracy of Logistic Reg  is  58.68%
Hence  we  should select KNN  for ths problem